!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title SocialTagg Admin Tools
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le styles 
    //
       Latest compiled and minified CSS 
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css')
  
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
      @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
      }
      }
    //
      <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css')
    //
       HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='../assets/js/html5shiv.js')
    //
       Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='../assets/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='../assets/ico/favicon.png')

    //- 
      Allows /admin to be the base url, so socialtagg.com/admin and socialtagg.com/admin/ both work
      http://docs.angularjs.org/guide/dev_guide.services.$location

    base(href="/admin/")
  
  body(ng-app='app')
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') SocialTagg, LLC
          .nav-collapse.collapse
            p.navbar-text.pull-right
              if !isLoggedIn
                a.navbar-link(href=links.login) Login
              else
                a.navbar-link(href=links.logout) Logout #{ locals.public.user.userName }
            
            ul.nav
              li.active
                a(href='/') Home
            //-  
              li
                a(href='#about') About
              li
                a(href='#contact') Contact
          //
            /.nav-collapse 
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header General KPIs
              li 
                //-.active // <-- apply this style to the currently active link
                a(href='/admin/#/event-activity') Event Activity 
              li
                a(href='/admin/#/user-activity') New Signups
              li
                a(href='#') Contaggs Exchanged 
              li
                a(href='https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a36103900w67229550p69175565/%3F_u.date00%3D20131025%26_u.date01%3D20131125%26overview-graphOptions.selected%3Danalytics.nthDay/') 
                  | Website Traffic
              li
                a(href='#') SEO Rankings
              li
                a(href='#') Mobile Downloads 
              li
                a(href='#') Top Users 
              li
                a(href='#') Payments Posted 
              li
                a(href='#') Event Plan Enrollment




              li.nav-header Site Administration
              li
                a(href='#') User Management
              li
                a(href='#') Permissions
            
            //-
              li.nav-header Sidebar
              li
                a(href='#') Link
              li
                a(href='#') Link
              li
                a(href='#') Link

        .span9
          ng-view
        
          
         //- 
          .row-fluid
            .span4
              h2 Heading
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') View details »
            //
              /span
            .span4
              h2 Heading
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') View details »
            //
              /span
            .span4
              h2 Heading
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn(href='#') View details »
            //
              /span
          //
            /row

      hr
      footer
        p Copyright © SocialTagg, LLC. 2013
    //
      Le javascript
       Placed at the end of the document so the pages load faster 

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(src='/js/Chart.min.js')
    script(src="/admin/js/ng-index.js")
    script(src="/admin/js/ng-resources.js")
    script(src="/admin/js/controllers/ng-home.js")
    script(src="/admin/js/controllers/ng-event-activity.js")
    script(src="/admin/js/controllers/ng-user-activity.js")
  