//-
//- Best place to put tracking code?  It appears to be IN THE DOCUMENT as opposed to external .js file.
//- And, right before the closing </head> tag.
//-
//- http://stackoverflow.com/questions/10712908/google-analytics-in-header-or-footer
//- http://webmasters.stackexchange.com/questions/17492/easier-way-to-include-google-analytics-script-code-on-every-page
//-
script(type="text/javascript")

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36103900-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  