//- Raven (Sentry error handling)
if public.sentryDsn
  // Log page errors in case something bad happens
  script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/raven.js/1.0.8/raven.min.js")

  //-
  //- Todo: consider filtering some errors in "ravenSettings" below.
  //-   see: http://raven-js.readthedocs.org/en/latest/tips/index.html
  //-
  
  script.
    var sentryDsn = "!{ public.sentryDsn }";
    var sentryUserInfo = !{ locals.sentryUserInfo ? JSON.stringify(sentryUserInfo) : "undefined" };
    var ravenSettings = {};

    if (sentryUserInfo) {
      Raven.config(sentryDsn, ravenSettings).
        setUser(sentryUserInfo).
        install();
    } else {
      Raven.config(sentryDsn, ravenSettings).
        install();
    }

else
  // Note: no Sentry DSN specified!
