//- Right-hand column
.four.columns
  .widget-alt
    .headline.no-margin
      h4 Tools
    .tool-items
      a(href=links.myownedevents + '?action=create')
        i.ico-circle-plus
        span Create an event
