

#fb-root(data-scope='email')

//- This code is found at: https://developers.facebook.com/docs/facebook-login/getting-started-web/

//- The special 'email' permission ia requested when FB.login() is called on button-click, a la this page:
//-   https://developers.facebook.com/docs/reference/javascript/FB.login/
//- I believe it needs both the #fb-root() thing at the top, and the "scope" object passed in order to
//- get the email addr from FB.
//-
//- This script is here in a codebehind instead of a separate .js file because we insert a few variables from the 
//- server.  Tho, these variables could be written in the head and then accessed by a separate .js file - todo.
//-
//- The function "socialTaggFbLogin()" is designed to handle the various events that come in automagically
//- from the FB SDK, without causing a weird user experience.  Example: the login box automatically appearing
//- without the user even clicking anything.

script.
  var stfbResponse;
  var stfbWantToLogin = false;
  
  function socialTaggFbLogin(userClick) {

    stfbWantToLogin = stfbWantToLogin || userClick;

    if (!stfbResponse) {
    
      FB.login(null, {scope: "email"});
      
    } else if (stfbWantToLogin) {
    
      $('#social-spinner').css('display', 'inline-block');
      var xrh = $.post('/loginfb', stfbResponse)
      .done(function() {
        var successUrl = '#{ public.loginDest }';
        window.location = successUrl;
      })
      .fail(function() { 
        console.log('crud, no workie');
        $('#social-spinner').css('display', 'none');
      });
    }
  };
  
  window.fbAsyncInit = function() {

    FB.init({
      appId      : '457892080927327',                        // App ID from the app dashboard
      channelUrl : '//#{ public.serverPath }/social/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      cookie     : true,                // enable cookies to allow the server to access the session
      xfbml      : true                                  // Look for social plugins on the page
    });

    FB.Event.subscribe('auth.authResponseChange', function(response) {
      if (response.status === 'connected') {
        
        stfbResponse = response;
        socialTaggFbLogin();
        
      }
    });
  };

  //- Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
