//-********** Flexslider (scrolling images) Control
// 960 Container 
.container
  // Flexslider 
  .sixteen.columns
    section.slider
      .flexslider.home
        ul.slides
          //- Uncomment this when you have more stuff
            li
              img(src='images/slider-img-01.jpg', alt='App Screenshots')
              .slide-caption
                h3 With SocialTagg, you can:
                p
                  | Share your contact info with ease. | Store new contacts in the cloud. | Simplify the networking process.
          //- Main big graphic without the box, link to Mailchimp for signup
          li
            a(href=links.appiphone)
              img(src='images/slider-img-03.jpg', alt='')
          li
            a(href=links.appandroid)
              img(src='images/slider-img-04.jpg', alt='')
// Flexslider / End 
// 960 Container / End 
