//-********** Flexslider (scrolling images) Control
// 960 Container 
.container
  // Flexslider 
  .sixteen.columns
    section.slider
      .flexslider.home
        ul.slides
          //- Uncomment this when you have more stuff
            li
              img(src='images/slider-img-01.jpg', alt='App Screenshots')
              .slide-caption
                h3 With SocialTagg, you can:
                p
                  | Share your contact info with ease. | Store new contacts in the cloud. | Simplify the networking process.
          //- Main big graphic without the box, link to Mailchimp for signup
          li
            a(href=links.appiphone)
              img(src='images/homepage-carousel/meet-socialtagg.jpg', alt='')

          li
            a(href=links.myownedevents)
              img(src='images/homepage-carousel/organize-event.jpg', alt='')

          li
            a(href=links.appandroid)
              img(src='images/homepage-carousel/simply-connect.jpg', alt='')

          li
            a(href=links.myattendedevents)
              img(src='images/homepage-carousel/events-at-fingertips.jpg', alt='')


// Flexslider / End 
// 960 Container / End 
