// Footer Start 
#footer
  // 960 Container 
  .container
    // About 
    .one-third.column    
      // Was four.columns
      .footer-headline
        h4 About Us
      p
        | SocialTagg creates beautiful, simple, and intuitive software that helps people connect with each other.
    // Contact us 
    .one-third.column
      .footer-headline
        h4 Stay Informed
      p
        | Sign up and be the first to know
        | when we launch our app!
      p
        form#mc-embedded-subscribe-form.validate(action='http://socialtagg.us6.list-manage.com/subscribe/post?u=422cc79ee72514c707686eda8&id=c13ef13295', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
          input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='required')
          input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
  
    // About 
    .one-third.column
      .footer-headline
        h4 Useful Links
      ul.links-list
        li
          a(href='#{ links.features }') Features
        li
          a(href='#{ links.contact }') Contact
        li
          a(href='#{ links.about }') About Us
        li
          a(href='#{ links.tos }') Terms of Service

//-
      p
        | Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem.
    // Footer / Bottom 
    .sixteen.columns
      #footer-bottom
        | © Copyright 2013 by 
        a(href='#') SocialTagg, LLC
        | . All rights reserved.
        #scroll-top-top
          a(href='#')
  // 960 Container / End 
// Footer / End 

  
//- This was in the container above, and the "About" was 4 columns
  // Useful Links 
  .four.columns
    .footer-headline
      h4 Useful Links
    ul.links-list
      li
        a(href='#') Service Updates
      li
        a(href='#') Community Forum
      li
        a(href='#') Help Desk
      li
        a(href='#') Terms of Use
      li
        a(href='#') Validate License
      li
        a(href='#') Privacy Policy
      li
        a(href='#') Knowledgebase
  // Photo Stream 
  .four.columns
    .footer-headline
      h4 Photo Stream
    .flickr-widget
      script(type='text/javascript', src='http://www.flickr.com/badge_code_v2.gne?count=6&display=latest&size=s&layout=x&source=user&user=36587311@N08')
      .clear
  // Latest Tweets 
  .four.columns
    .footer-headline
      h4 Latest Tweets
    ul#twitter
    script(type='text/javascript')
      jQuery(document).ready(function($){
      $.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=2'), function(tweets){
      $("#twitter").html(tz_format_twitter(tweets));
      }); });
    .clear
