//-Basic Page Needs
  | ================================================== 
meta(charset='utf-8')
title SocialTagg - #{ title }

link(rel='shortcut icon', href='/images/favicon.ico')

//-Mobile Specific
  | ================================================== 
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

//-CSS
  | ==================================================
link(rel='stylesheet', type='text/css', href='/css/style.css')
link#layout(rel='stylesheet', type='text/css', href='/css/wide.css')
//- todo: create new SocialTagg-specific CSS stylesheet based on existing one:
link#colors(rel='stylesheet', type='text/css', href='css/colors/socialtagg.css')
//- Login box styles
link(rel='stylesheet', type='text/css', href='/css/loginbox.css')

//-Java Script
  | ================================================== 
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/js/custom.js')
script(src='/js/selectnav.js')
script(src='/js/flexslider.js')
script(src='/js/twitter.js')
script(src='/js/tooltip.js')
script(src='/js/effects.js')
script(src='/js/fancybox.js')
script(src='/js/carousel.js')
script(src='/js/isotope.js')
script(src='/js/socialtagg.js')

//-********** Analytics control - should be placed at end of <head> section
include analytics