//-Basic Page Needs
  | ================================================== 
meta(charset='utf-8')
title SocialTagg - #{ title }

link(rel='shortcut icon', href='/images/favicon.ico')

//-Mobile Specific
  | ================================================== 
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

//-CSS
  | ==================================================
link(rel='stylesheet', type='text/css', href='/css/style.css')
link#layout(rel='stylesheet', type='text/css', href='/css/wide.css')
link#colors(rel='stylesheet', type='text/css', href='/css/colors/socialtagg.css')
//- Login box styles
link(rel='stylesheet', type='text/css', href='/css/loginbox.css')

//-Java Script
  | ================================================== 
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/js/custom.js')
script(src='/js/selectnav.js')
script(src='/js/flexslider.js')
script(src='/js/twitter.js')
script(src='/js/tooltip.js')
script(src='/js/effects.js')
script(src='/js/fancybox.js')
script(src='/js/carousel.js')
script(src='/js/isotope.js')
script(src='/js/socialtagg.js')

//- Cool JS library
script(type='text/javascript', src='/js/underscore-min.js')

if locals.usesAngular
  //- Angular JS from Google CDN
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.js')
  
  //- Angular+Bootstrap directives
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.5.0/ui-bootstrap-tpls.min.js')

  //- All our Angular resources
  script(type='text/javascript', src='/js/ng-resources.js')
  
  //- The main Angular app, required for all pages
  script(type='text/javascript', src='/js/ng-index.js')
  
  link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css')

//-********* Include any page-specific javascript you may have 
block javascripts

//- Smartbanner for iOS/Android detection and link to download apps
include smartbanner-head

//-********** Analytics control - should be placed at end of <head> section
include analytics