//-Basic Page Needs
  | ================================================== 
meta(charset='utf-8')
title SocialTagg - #{ title }

link(rel='shortcut icon', href='/images/favicon.ico')

//-Mobile Specific
  | ================================================== 
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

//-CSS
  | ==================================================
link(rel='stylesheet', type='text/css', href='/css/style.css')
link#layout(rel='stylesheet', type='text/css', href='/css/wide.css')
link#colors(rel='stylesheet', type='text/css', href='/css/colors/socialtagg.css')
//- Login box styles
link(rel='stylesheet', type='text/css', href='/css/loginbox.css')

//-Java Script
  | ================================================== 
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/js/custom.js')
script(src='/js/selectnav.js')
script(src='/js/flexslider.js')
script(src='/js/twitter.js')
script(src='/js/tooltip.js')
script(src='/js/effects.js')
script(src='/js/fancybox.js')
script(src='/js/carousel.js')
script(src='/js/isotope.js')
script(src='/js/socialtagg.js')

//- Angular JS from Google CDN
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.js')

//- Angular+Bootstrap directives (local; CDNJS CDN was having a bad hair day)
script(type='text/javascript', src='/js/ui-bootstrap-tpls-0.2.0.min.js')
//- Cool JS library
script(type='text/javascript', src='/js/underscore-min.js')
//- The main Angular app, required for all pages
script(type='text/javascript', src='/js/ng-index.js')
//- The login controller
  script(type='text/javascript', src='/js/ng-login.js')

//- Smartbanner for iOS/Android detection and link to download apps
if locals.usesmartbanner
  include smartbanner-head

//-********** Analytics control - should be placed at end of <head> section
include analytics