// 960 Container 
.container
  .sixteen.columns
    // Headline 
    .headline.no-margin
      h3 Our Clients
    ul.client-list
      li
        img(src='images/logo-01.png', alt='')
      li
        img(src='images/logo-02.png', alt='')
      li
        img(src='images/logo-03.png', alt='')
      li
        img(src='images/logo-04.png', alt='')
      li
        img(src='images/logo-05.png', alt='')
// 960 Container / End 
