//- Links to our apps, responsive and stuff
//- Note: this may be obsolete - delete this file if we implement
//- a smart banner solution.
.download-links
  .six.columns
    h4 Download our apps:
    a(href=links.appiphone)
      img(src='/images/appstore_horizontal.png')
    a(href=links.appandroid)
      img(src='/images/google_play.png')
