//- Icon boxes with descriptions (multiple columns, should use a repeater)
// 960 Container 
.container
  // Icon Boxes 
  .icon-box-container
    // Icon Box Start 
    .one-third.column
      .icon-box
        i.ico-history(style='margin-left: -10px;')
        h3 Quick
        p
          | Reduce time from inputting business cards into contact management systems.
    // Icon Box End 
    // Icon Box Start 
    .one-third.column
      .icon-box
        i.ico-lightbulb
        h3 Intuitive
        p
          | Simply scan new contacts and add them directly into your mobile device for future follow-ups.
    // Icon Box End 
    // Icon Box Start 
    .one-third.column
      .icon-box
        i.ico-cloud
        h3 No More Lost Cards
        p
          | Never lose another contact. Safely store them into your SocialTagg account hosted in the cloud.
    // Icon Box End 
  // Icon Boxes / End 
// 960 Container / End 
