#loginbox(ng-controller='loginController', ng-init='init(' + publicPageVars + ')')
  // Box Start
  #box_bg
    #content
      h1 Sign In
      if locals.showsocial
        // Social Buttons
        .social
          | Sign in using social network:
          br
          .fb
            a.btn_1(href='#', onclick='socialTaggFbLogin(true)', no-click) Login with Facebook
            i.icon-spinner.icon-spin.icon-2x(style='display:none')
          //-
            .twitter
              a.btn_2(href='#') Login with Twitter
      // Login Fields 
      #login(ng-class='{error:loginError}')

        //- Error message, set style explicitly so it won't flash on page refresh
        .notification(ng-show='notifyMsg', style='display: none;', ng-class='notifyClass')
          p
            span {{ notifyMsg }}
            a.close(href='#', ng-click='hasError=false', no-click)

        
        div(ng-show='!mode || mode == loginModes.login')
          if locals.showsocial
            span Or, s
          else
            span S
          | ign in using your registered account:

          br
          form(method='POST')
            input.login.user(type='text', ng-model='email', ng-class='{error: loginError}', placeholder='Email', id='username')
            input.login.password(type='password', ng-model='password', ng-class='{error: loginError}', placeholder='Password', id='password')

            a.button.color(href='#', ng-click='login()', no-click) Sign In
            i.icon-spinner.icon-spin.icon-2x(ng-show='loading')

          if locals.shownewuserreg
            p.other-login-options Don't have an account? 
              a(href='#', ng-click='loginMode(loginModes.create)', no-click)  Create one
          
            p.other-login-options Forgot your password? 
              a(href='#', ng-click='forgotPw()', no-click)  Reset it 

        div(ng-show='mode == loginModes.create', style='display: none;')
          span Or, create an account:
        
          br
          form(method='POST')
            input.login.user(type='text', ng-model='email', ng-class='{error: loginError}', placeholder='Email', id='username')
            //- Not showing passwords here - they will be on the user profile edit page
              input.login.password(type='password', ng-model='password', ng-class='{error: loginError}', placeholder='Password (6-15 chars)', id='password')
              input.login.password(type='password', ng-model='password2', ng-class='{error: loginError}', placeholder='Retype password', id='password2')
          
            p.other-login-options
              input(type='checkbox', ng-model='readterms')
              span I have read and agree to 
                a(href=links.tos, target='_blank') the terms of service.
            
            a.button.color(href='#', ng-click='create()', no-click) Create Account
            i.icon-spinner.icon-spin.icon-2x(ng-show='loading')

          p.other-login-options Already have an account? 
            a(href='#', ng-click='loginMode(loginModes.login)', no-click)  Sign In

        div(ng-show='mode == loginModes.regSent', style='display: none;')
          
          p.other-login-options
            | Thank you for registering with SocialTagg!  An email has been sent to:
          
          p.other-login-options
            strong {{ email }}
              
          p.other-login-options
            | Please check your email and click on the registration link.  This will
            | validate your email address with SocialTagg and finalize
            | the registration process.

          p.other-login-options
            | If you don't receive your registration email within a few minutes, please
            | check your spam folder.  Or, you can 
            a(href='#', ng-click='loginMode(loginModes.create)', no-click) resubmit  
            | your registration info.