#loginbox(ng-controller='loginController', ng-init='init(' + publicPageVars + ')')
  // Box Start
  #box_bg
    #content
      h1 Sign In
      if locals.showsocial
        // Social Buttons
        .social
          | Sign in using social network:
          br
          .fb
            a.btn_1(href='#') Login with Facebook
          //-
            .twitter
              a.btn_2(href='#') Login with Twitter
      // Login Fields 
      #login(ng-class='{error:loginError}')
        | Or, sign in using your registered account:
        br
        form(method='POST')
          input.login.user(type='text', ng-model='email', ng-class='{error: loginError}', placeholder='Email', name='username', id='username')
          input.login.password(type='password', ng-model='password', ng-class='{error: loginError}', placeholder='Password', name='password', id='password')

          //- Green Button 
            .button.green
              a(href='#', ng-click='login()') Sign In
          a.button.color(href='#', ng-click='login()', no-click) Sign In
          i.icon-spinner.icon-spin.icon-2x(ng-show='loading')

//- Uncomment this when implemented
        // Checkbox 
        .checkbox
          li
            fieldset
              legend#title2.desc
              //if lt IE 8
              label#title2.desc
              div
                span
                  input#Field.field.checkbox(name='Field', type='checkbox', value='First Choice', tabindex='4', onchange='handleInput(this);')
                  label.choice(for='Field') Keep me signed in


//- Text Under Box 
    #bottom_text
      | Don't have an account?
      a(href='#') Sign Up
      br
      | Remind
      a(href='#') Password
