// 960 Container 
.container
  .sixteen.columns
    // Headline 
    .headline.no-margin
      h3 Recent Work
  // Project 
  .four.columns
    .picture
      a(href='single_project.html')
        img(src='images/portfolio/portoflio-09.jpg', alt='')
        .image-overlay-link
    .item-description
      h5
        a(href='#') Touch Gestures
      p
        | Mauris sit amet ligula est, eget conseact etur lectus maecenas hendrerit suscipit.
  // Project 
  .four.columns
    .picture
      a(href='images/portfolio/portoflio-08-large.jpg', rel='image', title='Coffee Time')
        img(src='images/portfolio/portoflio-08.jpg', alt='')
        .image-overlay-zoom
    .item-description
      h5
        a(href='#') Coffee Time
      p
        | Amet sit lorem ligula est, eget conseact etur lectus hendrerit suscipit maecenas.
  // Project 
  .four.columns
    .picture
      a(href='single_project.html')
        img(src='images/portfolio/portoflio-10.jpg', alt='')
        .image-overlay-link
    .item-description
      h5
        a(href='#') Surfing The Web
      p
        | Lorem sit amet ligula est, eget conseact etur lectus maecenas hendrerit suscipit.
  // Project 
  .four.columns
    .picture
      a(href='single_project.html')
        img(src='images/portfolio/portoflio-07.jpg', alt='')
        .image-overlay-link
    .item-description
      h5
        a(href='#') Wireless Keyboard
      p Ligula mauris sit amet est eget consat etur lectus maecenas hendrerit suscipit.
// 960 Container / End 
