//-
//- An include for showing login information.  This can be included on multiple pages, similar to user controls
//- in .NET.
//-
- if (currentSessionUser.id)
  h1 #{ currentSessionUser.name }'s Profile
    p
      //- a(href='/users/#{ currentSessionUser.id }') Edit
      //- |  | 
      a(href='/logout') Logout
- else
  h1 Your Profile
  p
    a(href='/login') Please log in
