extends ../layout

block content

  .container
    .sixteen.columns
      //
         Page Title 
      #page-title
        h2 Join us for the SocialTagg Launch!
        #bolded-line
      //
         Page Title / End 
  .container
    .sixteen.columns
      img(src='./images/socialtagg_software.jpg', style='margin: 15px auto;')
      p
        | Recognized in 2013 as 
        a(href='http://tech.co/los-angeless-hottest-showcasing-startups-are-2013-09', target='_blank') Tech Cocktail's LA's Hottest Showcasing Startup
        | , SocialTagg redefines the way that people host events and network at events.
      p
        | We know that events can be daunting for everyone involved. Event professionals have to figure out how to efficiently check-in attendees and measure their event's success. Meanwhile, attendees and exhibitors want to build meaningful connections and stay in touch with their new contacts. SocialTagg's Integrated Event Platform provides solutions for all, and you can experience it today for free.
  .container
    .sixteen.columns
      .headline.no-margin
        h3 Special Offer
      p
        | We invite you to celebrate the launch of our Integrated Event Platform with an exclusive offer:
        br
        ul(style='margin: 0 20px 0 0;')
          li
            | Reserve your spot below to get your
            li.thicker FREE 90 Day Subscription
            li to the SocialTagg Integrated Event Platform!
            li + 10 lucky event professionals will also receive a
            li FREE Lifetime SocialTagg Subscription!
  .container
    .sixteen.columns
      p
        | Simply submit the form below and our team will contact you with more information.
      iframe(src='https://docs.google.com/forms/d/1SsFl1Fnkjpe71Jg8WcFl4Pl_mYQveTFY9sx_tnkO6dA/viewform?embedded=true', width='300', height='686', frameborder='0', marginheight='0', marginwidth='0') Loading...
  .container
    .sixteen.columns
      dl.thicker(style='font-size: 0.8em;')
        dt(style='margin: 5px 0 0 0;') Offer Details: 
        dd(style='margin: 0 0 0 15px;')
          | Limit one free subscription account per company, please. Each company that submits a form receives one (1) free 90 day subscription to the SocialTagg Integrated Event Platform.
        dd(style='margin: 0 0 0 15px;') No obligation to purchase. 
        dt(style='margin: 5px 0 0 0;') Free Lifetime Subscription Giveaway Details & Rules:
        dd(style='margin: 0 0 0 15px;')
          | Ten (10) event professionals will receive a free lifetime subscription to SocialTagg's Integrated Event Platform.
        dd(style='margin: 0 0 0 15px;')
          | No cash alternative to the subscription will be offered. The subscriptions are not transferable.
        dd(style='margin: 0 0 0 15px;')
          | Lifetime subscription will be granted upon scheduling of first event on SocialTagg's Integrated Event Platform.
        dt(style='margin: 5px 0 0 0;') Privacy Policy:
        dd(style='margin: 0 0 0 15px;') We do not share your information with anyone else.
  //
    Content End
