extends ../layout

block content

  .container
    .sixteen.columns
      .headline
        h3 Team Extracurricular Activity
      p
        | Team Extracurricular Activity is composed of college students passionate about fighting cancer.  Although we come from different colleges, our willingness to fight for a common cause brings us together.
  //
    This is the beginning of the school/sponsor information
  .container
    .eight.columns
      .headline
        h4 Our Schools
      ul
        li UC Davis
        li Cal Poly Pomona
        li UCLA
        li Westwood College
        li American University of Health Sciences
        li UC Riverside
    .eight.columns
      .headline
        h4 Our Sponsors
      ul
        li BJ's Restaurant and Brewhouse of The Commons
        li Chipotle Mexican Grill of The Shoppes
        li Ra Sushi Bar and Restaurant of The Shoppes
        li Fresh and Easy of Gordon Ranch Marketplace
        li McDonalds of Gordon Ranch Marketplace
        li Jack in the Box of Pipeline in Chino Hills
        li Domino's Pizza of The Spectrum
        li Flame Broiler of The Spectrum
        li Target of The Spectrum
        li Harkins Theatres of Chino Hills
        li Roscoe's Famous Deli of Chino Hills
        li Chili's of Chino Hills
        li SocialTagg LLC.
  //
    This is the end of the school/sponsor information
  //
    This is the beginning of the general raffle information
  .container
    .sixteen.columns
      .headline
        h3 Raffle Rules
      ol
        li You do not need to be present to win.
        li Each ticket has the same probability to be chosen.
        li Winners will be randomly selected at 8AM Sunday, August 4th.
        li
          | You will be asked to write your name and phone number on the back of the ticket.  (Writing your campsite number is optional, but recommended)
        li
          | We will call, text, and visit your campsite if you win.  If you win, we will, to the best of our ability, ensure you receive your prize
        li
          | If a winning ticket does not have the necessary contact information, the ticket will be void.
        ol
  //
    This is the end of the general raffle information
  //
    This is the beginning of the raffle specifics
  .container
    .four.columns
      .headline
        h3 Raffle Prices
      ul
        li $1 : 1 ticket
        li $5 : 6 tickets
        li $10	: 12 tickets
        li $20 : 25 tickets
    .four.columns
      .headline
        h4 The Grand Prize (1 winner)
      ul
        li $25 to BJ's Restaurant and Brewhouse
        li $25 to Roscoe's Famous Deli
        li $20 to Target
        li $20 to Chili's
        li $10 to McDonalds
        li $10 to Jack in the Box
        li 2 tickets to Harkins Theatres
        li 2 Appetizers to Ra Sushi
        li 2 Bowls to Flame Broiler
        li 2 Buy One Get One Burrito at Chipotle
    .four.columns
      .headline
        h4 Night on the Town (1 winner)
      ul
        li $25 to BJ's Restaurant and Brewhouse
        li $10 to McDonalds
        li $10 to Jack in the Box
        li 2 tickets to Harkins Theatres
        li 1 Appetizer to Ra Sushi
        li 1 Buy One Get One Burrito at Chipotle
    .four.columns
      .headline
        h4 Lunchtime (5 winners)
      ul
        li 1 Appetizer to Ra 
        li 1 Buy One Get One Burrito at Chipotle
    //
     This is the end of the raffle specifics
  //
    Wrapper End>
