//-
//- About page.
//-

extends layout

block content
  
  .container
    //- .two-thirds.column
    .sixteen.columns
      .headline.no-margin
        h4 Our Story
      p
        | SocialTagg is a Los Angeles software company passionate about building innovative solutions for the event industry. Our mission is to better connect people at events by providing beautiful, simple, and intuitive platforms that facilitate information sharing.
      p
        | In 2012, Lead Android Developer Karim Varela and Designer-Marketer Jade Shyu joined forces at a hackathon and built the first SocialTagg prototype after experiencing firsthand the difficulties of connecting with people at events. With our software platform, we strive to help you and other organizers, attendees, and exhibitors create invaluable experiences in the event space.
    //-
      .one-third.column
        .headline.no-margin
          h4 Careers
  
        // Large Notice 
        .large-notice
          h2 We're Hiring
          p We're offering great opportunites for Web Designer Intern.
          a.button.medium.color(href='/contactus') Apply
        p

    // Standard Structure End 
    .sixteen.columns
      .headline.low-margin
        h4 Meet the Team
      p
        | An aggregate 40 years of software development background and years of experience in planning and attending trade expos, conferences, and professional mixers gives us the ideal skill set for achieving our mission:

    
    // ** Karim ** 
    .one-third.column
      img(alt='', src='/images/about/karim.jpg')
      .team-name
        h5 Karim Varela
        span President, Lead Android Developer
      .team-about
        p
          | Karim has nearly a decade of experience developing mobile apps and leading teams. In addition to leading SocialTagg, Karim is also the head of Android at Tinder. Previously, he was the lead Android architect at Beachbody, working on, most notably, the P90X Android app. He also helped build Fandango's Android apps and Muve Music. He holds a computer science degree from the University of California at Santa Barbara and is wrapping up his MBA from the University of Florida.
          br
          br
          | He was previously founder and president at Seattle startup i-booze.com and also ran a successful web development shop, Civilized Software, in previous lives.
      
      // Social Icons 
      ul.social-icons.about
        li.linkedin
          a(href='http://www.linkedin.com/in/karimvarela') LinkedIn
        li.twitter
          a(href='http://twitter.com/KarimVarela') Twitter
    
    
    
    // ** Jade **
    .one-third.column
      .clear
      img(alt='', src='images/about/jade.jpg')
      .team-name
        h5 Jade Shyu
        span VP Marketing, Designer
      .team-about
        p
          | Having coordinated events ranging from international training seminars to hip hop dance competitions, Jade is an event aficionado who specializes in marketing and design.  With her experience in social media, SEO, and email marketing, Jade is able to seamlessly transition between various industries, including interior design and automotive sectors.  She has also served on her local Toastmasters executive board and spoke on the topic of social media integration.  Jade holds a BA in economics and a Master's in international business.
      // Social Icons 
      ul.social-icons.about
        li.linkedin
          a(href='http://www.linkedin.com/in/jadeshyu') LinkedIn
        li.twitter
          a(href='http://twitter.com/jadeshyu') Twitter
    
    
    // ** John ** 
    .one-third.column
      img(alt='', src='images/about/john.jpg')
      .team-name
        h5 John Baumbach
        span Chief Server Architect
      .team-about
        p
          | John has over 20 years experience in the IT industry in positions raging from application development through executive management. In addition to his current role developing web apps for Red Bull, he spent three years as Director of Systems Development at Fandango, LLC, has an app in the iOS app store, and he has managed successful technology implementations for several startups. He spends his free time learning new programming languages and architectures. He holds a BSCS from California State University, Northridge.
      // Social Icons 
      ul.social-icons.about
        li.linkedin
          a(href='http://www.linkedin.com/in/johnbaumbach/') LinkedIn

  .container.about
    
    // ** Tim ** 
    .one-third.column
      img(alt='', src='images/about/tim.jpg')
      .team-name
        h5 Tim Feng
        span Director of QA
      .team-about
        p
          | Tim is currently a student at California State Polytechnic University, Pomona, studying Civil Engineering. He enjoys finding vulnerabilities in software, his prime motivation as the Director of Quality Assurance. Tim also has several years of HTML and CSS experience and occasionally applies this knowledge to the SocialTagg website. Tim is a licensed Engineer-in-Training in the State of California.
      // Social Icons 
      ul.social-icons.about
        li.linkedin
          a(href='http://www.linkedin.com/pub/tim-feng/65/47a/a71') LinkedIn

    // ** Jeff ** 
    .one-third.column
      img(alt='', src='images/about/jeff.jpg')
      .team-name
        h5 Jeff Mock
        span VP of Engineering
      .team-about
        p
          | iOS guru, iHOP aficionado.
      // Social Icons 
      ul.social-icons.about
        li.linkedin
          a(href='http://www.linkedin.com/pub/jeffrey-mock/2/5b5/b7') LinkedIn

    // ** Louis ** 
    .one-third.column
      img(alt='', src='images/about/louis.jpg')
      .team-name
        h5 Louis Tang
        span Director of Engineering, Android
      .team-about
        p
          | Louis is an Android developer at Fandango. Prior to Fandango, he worked in an IT support role for 7 years. He holds a BS in Management Information Systems from the University of Missouri, St. Louis.
      // Social Icons 
      ul.social-icons.about
        li.linkedin
          a(href='http://www.linkedin.com/pub/louis-tang/5/561/a3') LinkedIn


  .container.about
    
    // ** Dubem ** 
    .one-third.column
      img(alt='Dubem Enyekwe Headshot', src='images/about/dubem.jpg')
      .team-name
        h5 Dubem Enyekwe
        span Senior Windows Developer
      .team-about
        p
          | Dubem is a windows phone Juju Master.
      // Social Icons 
      ul.social-icons.about
        li.linkedin
          a(href='http://www.linkedin.com/pub/enyekwe-dubem/52/7b0/bb3') LinkedIn
                
    // ** Joe ** 
    .one-third.column
      img(alt='Joe Mirandi Headshot', src='images/about/joe.jpg')
      .team-name
        h5 Joe Mirandi
        span Director of Marketing
      .team-about
        p
          | Joe hails from Boston U. and is a wizard with words.
      // Social Icons 
      ul.social-icons.about
        li.linkedin
          a(href='http://www.linkedin.com/in/josephmirandi') LinkedIn
            