//-
//- API documentation.  See "index.jade" for more details.
//-
extends layout

block content
  //- todo: non-hack CSS for a page w/out sidebar.  Adding a big div inside a small
  //- one is just awful. 
  .api-documentation
    h2 API Documentation
    p Welcome to the SocialTagg API.  The available functions are documented below.  
      | All functions return JSON unless otherwise indicated.  Feel free to email us
      | at 
      a(href='mailto:support@socialtagg.com') support@socialtagg.com 
      | if you have any questions.
    p To authenticate with the API, a custom header should be added to your request.  The
      | header value is a sha256 hash of (your api key + api password + Unix timestamp).
      | Please see the examples below for more details.  (Future: sample code for common
      | platforms)
    
    //-
    //- The controller passes a list of operation objects with these properties, and
    //- the page outputs them all.  This is like a "repeater" in .NET webforms.
    //-
    each operation in operations
      .api-operation
        h3(class="title")= operation.title
        p(class="description")= operation.description
        p(class="signature") Signature: 
          span #{ operation.signature }
        p Try it:
        p(class="tryit")
          | #{ operation.tryit }
      
    - if (apiUser.id.length === 0)
      p (
        a(href="/login") Login 
        | to have the key values populated for you)