extends layout

block content

  .container.my-events
    .twelve.columns
      #page-title
        h2 Event Analytics
        #bolded-line  
          
      p There are no analytics for the event at this time.
        