include mixins/eventanalyticschart
include mixins/eventanalyticsnonchart
include mixins/eventanalyticssummary

extends layout

block javascripts
  script(src='/js/Chart.min.js')
  script(src='/js/ng-eventanalytics.js')

block content

  .container.event-analytics(ng-controller='analyticsController', ng-init='init(' + publicEvent + ')')
    
    .sixteen.columns
      #page-title
        h2 Event Analytics for #{ event.name }
        #bolded-line

      .headline
        h3 Your Event: At a Glance

      .container
        mixin eventanalyticssummary('icon_checkin.png', 'totalCheckins', 'Total Checkins')
        mixin eventanalyticssummary('icon_exchange.png', 'contaggsExchanged', 'Total Contaggs Exchanged at Event')
        mixin eventanalyticssummary('icon_avg.png', 'averageContaggsPerAttendee', 'Average Number of Contaggs per Attendee')

      .headline
        h3 Attendee Demographics
      
      //- todo: grab height and width from the server - based on device?
      //- Maybe set from Angular?

      mixin eventanalyticschart(500, 300, 'Companies Represented', 'companySummary')
      mixin eventanalyticschart(500, 300, 'Job Titles Represented', 'titlesSummary')
      mixin eventanalyticschart(500, 300, 'Summary of Check-in Times', 'checkinTimeSummary')

      .headline
        h3 Survey Results

      - if (locals.surveyQuestions)

        - if (surveyQuestions.chartable)
          - each question in surveyQuestions.chartable
            mixin eventanalyticschart(300, 300, question.text, 'sq-' + question.questionId, question.description)

        - if (surveyQuestions.nonChartable)
          - each question in surveyQuestions.nonChartable
            mixin eventanalyticsnonchart(question.text, 'sq-' + question.questionId, question.description)
      
      - else
        
        p No attendee survey was used for this event.