doctype
html
    
  head
    title Event Details - #{ event.name }
    
  style(type='text/css').
    body {
      text-align: center;
      margin: 0 auto;
    }
  
  body
    img(src='/images/weblogo2.png')
    
    h1 #{ event.name }
      
