include mixins/twittertimeline

extends layout

block javascripts
  script(src='/js/ng-eventview.js')

block content

  //-.container
    .sixteen.columns
      #page-title
        h2 Event Details
        #bolded-line  
  
  .container.my-events(ng-controller="eventViewController")
    if !locals.event

      .sixteen.columns
        p Sorry, that event is not accessible.
    
    else

      .twelve.columns
        .headline.no-margin
          h3 Event Details

        .twelve.columns
          ul
            li
              .desc Name
              .value #{ event.name }

            li
              .desc Date
              .value #{ event.startDate }

            li
              .desc Time
              .value #{ event.startTime }

            li
              .desc Description
              .value #{ event.description }  

        .twelve.columns
          .headline
            h4 Who's Checked In

          div(ng-show="loadingEventUsers")
            p Finding users...
          
          div(ng-show="!loadingEventUsers", ng-cloak)
            
            div#check-ins(ng-show="checkedInUsers.length > 0")
              //- Display the event's contaggs if we have any
              .user-image(ng-repeat="checkedInUser in checkedInUsers")
                img(src="{{ checkedInUser.pictureUrl }}")
                p {{ checkedInUser.firstName }}
              .clear
            
            div(ng-show="!checkedInUsers || checkedInUsers.length == 0")
              .twelve.columns
                p No one has checked in yet!  Please check back later.

        .twelve.columns
          .headline
            h4 Who's Registered
          div(ng-show="loadingRegisteredUsers")
            p Finding users...
          div(ng-show="!loadingRegisteredUsers", ng-cloak)
            div#check-ins(ng-show="registeredUsers.length > 0")
              //- Display the event's contaggs if we have any
              .user-image(ng-repeat="registeredUser in registeredUsers")
                img(src="{{ registeredUser.pictureUrl }}")
                p {{ registeredUser.firstName }}
              .clear
            div(ng-show="!registeredUsers || registeredUsers.length == 0")
              .twelve.columns
                p No one has registered yet!  Please check back later.

        //- Not going to work as it stands - see comment in the mixin
          if event.hashtag
            .twelve.columns
              .headline
                h4 Tweets
    
              mixin twittertimeline(event.hashtag)
      

  
      include includes/eventtools










