extends layout

block content

  .container.my-events
    .twelve.columns
      #page-title
        h2 Event Analytics
        #bolded-line  
          
      ul.value-list.wide
        li
          .desc Total Checkins
          .value 123
            
        li
          .desc Distribution of Check-in Times
          .value (coming soon)
        
        li
          .desc Total Contaggs Created At Event
          .value 246 (average 2 per attendee)
            
        li
          .desc Companies Represented by Attendees
          .value 
            | Apple
            | Google
            | SocialTagg
            | Joyent
                
        li
          .desc Common Job Titles of Attendees
          .value 
            | CEO (12)
            | Principle (8)
            | Janitor (5)
            | 4 others
