//-
//- Features page.
//-

extends layout

block content

  .container
    .sixteen.columns
      h2.headline Features
      //- p 
        | Here are some features, enjoy.

      .feature-page
        span.acc-trigger
          a(href='#') Create
        .acc-container
          .content
            img(src='/images/features/create.png')
            p.with-image
              | Generate a unique badge to share your contact information with others.

      .feature-page
        span.acc-trigger
          a(href='#') Edit
        .acc-container
          .content
            img(src='/images/features/edit.png')
            p.with-image
              | Upload a photo and add a short bio to personalize your profile.

      .feature-page
        span.acc-trigger
          a(href='#') Scan
        .acc-container
          .content
            img(src='/images/features/scan.png')
            p.with-image
              | Fast scanning technology allows for quick contact input.

      .feature-page
        span.acc-trigger
          a(href='#') Connect
        .acc-container
          .content
            img(src='/images/features/connect.png')
            p.with-image
              | Share your badge with others, even if they don't have the SocialTagg app.            


      .feature-page
        span.acc-trigger
          a(href='#') Manage
        .acc-container
          .content
            img(src='/images/features/manage.png')
            p.with-image
              | Store new contacts and import their information to your phone.            


      .feature-page
        span.acc-trigger
          a(href='#') Contact
        .acc-container
          .content
            img(src='/images/features/contact.png')
            p.with-image
              | Reach stored contacts through their profile with one click.            
                              
            
            
            