//-
//- Features page.
//-

extends layout

block content

  .container
    .sixteen.columns
      .headline.no-margin
        h3 What is SocialTagg?
      p SocialTagg is a platform that allows people to easily connect at events.
            
    .one-third.column
      img(src='/images/features/phase1.jpg')
      .item-description
        h5 Phase 1
        p Business Card Replacement App

    .one-third.column
      img(src='/images/features/nextphase.jpg')
      .item-description
        h5 Phase 2
        p Event Checkin-In Platform

    .one-third.column
      img(src='/images/features/nextphase.jpg')
      .item-description
        h5 Phase 3
        p Passive Connections Feature

  .container
    .sixteen.columns
      .headline
        h3 How to Use SocialTagg
      p SocialTagg makes personal connections easy with 3 simple steps.
                
      img(src='/images/features/screens.jpg')

  .container
    .sixteen.columns
      .headline
        h3 Features
        p
    
    
    .one-third.column
      img(src='/images/features/create.jpg')
      .item-description
        h5 Create
        p Generate a unique badge to share your contact information with others.
  
    .one-third.column
      img(src='/images/features/edit.jpg')
      .item-description
        h5 Edit
        p Upload a photo and add a short bio to personalize your profile.
  
    .one-third.column
      img(src='/images/features/scan.jpg')
      .item-description
        h5 Scan
        p Fast scanning technology allows for quick contact input.

  
  .container
    .one-third.column
      img(src='/images/features/connect.jpg')
      .item-description
        h5 Connect
        p Share your badge with others, even if they don't have the SocialTagg app.
    
    .one-third.column
      img(src='/images/features/manage.jpg')
      .item-description
        h5 Manage
        p Store new contacts and import their information to your phone.
    
    .one-third.column
      img(src='/images/features/contact.jpg')
      .item-description
        h5 Contact
        p Reach stored contacts through their profile with one click.
    