extends layout
  
block content
  
  //-********** Flexslider (scrolling images) Control
  include includes/flexslider
  
  //-********** Icon boxes (multiple columns) Control
  include includes/iconBox
  
  //-********** Porfolio list Control
  //-include includes/portfolio
  
  //-********** Horizontal Icons Control
  //-include includes/horizontalIcons
      
  .container
    .sixteen.columns
      .headline.no-margin
        h3 Our Partners
      ul.client-list
        li
          a(href='http://techweek.com/losangeles/')
            img(src='http://techweek.com/images/badges/tw_la_dpbadge.png', border='0', style='width: 65px;', alt='Techweek')

  
