extends layout
  
block content
  
  //-********** Flexslider (scrolling images) Control
  include includes/flexslider
  
  //-********** Icon boxes (multiple columns) Control
    include includes/iconBox
  
  
  //-********** Integrated Event Platform section
  .container.integrated-event-platform
    .sixteen.columns
      h2 With the SocialTagg Integrated Event Platform, you can:

    .four.columns
      img(src='/images/eventanalytics/icon_checkin.png')
      p Efficiently register and check-in attendees.
    
    .four.columns
      img(src='/images/eventanalytics/icon_exchange.png')
      p Engage guests with cloud-based networking apps.

    .four.columns
      img(src='/images/eventanalytics/icon_survey.png')
      p Create and distribute mobile event surveys.

    .four.columns
      img(src='/images/eventanalytics/icon_avg.png')
      p View detailed analytics for your events.

  
  //-********** Porfolio list Control
  //-include includes/portfolio
  
  
  //-********** Horizontal Icons Control
  //-include includes/horizontalIcons
      
  .container
    .sixteen.columns
      .headline.no-margin
        h3 Our Partners
      ul.client-list
        li
          a(href='http://techweek.com/losangeles/')
            img(src='http://techweek.com/images/badges/tw_la_dpbadge.png', border='0', style='width: 65px;', alt='Techweek')

  
