!!! 5
// [if IE 7 ]><html class="ie ie7" lang="en"><![endif]
// [if IE 8 ]><html class="ie ie8" lang="en"><![endif]
// [if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]

head
  //-********* Head Control
  //- Note: you can include 'block javascripts' in your jade to include additional javascript in 
  //- the head section
  include includes/head


body
  //- Include stuff here that goes in the body, but before anything else (e.g. Facebook scripts)
  block prebodyContent
  
  // Wrapper Start 
  #wrapper(ng-app='indexApp')
    //-********** Header Control
    include includes/header

    // Content
      | ================================================== 
    block content
    
  // Wrapper / End


  // Footer
    | ================================================== 
  include includes/footer

  include includes/smartbanner-body