!!! 5
// [if IE 7 ]><html class="ie ie7" lang="en"><![endif]
// [if IE 8 ]><html class="ie ie8" lang="en"><![endif]
// [if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]

head
  //-********* Head Control
  include includes/head

  //-********** Style Switcher Head Control
    include includes/styleSwitcherHead

body
  // Wrapper Start 
  #wrapper(ng-app='indexApp')
    //-********** Header Control
    include includes/header

    // Content
      | ================================================== 
    block content
    
  // Wrapper / End


  // Footer
    | ================================================== 
  include includes/footer

  include includes/smartbanner-body