extends layout

block content

  .container
    .sixteen.columns
      #page-title
        h2 My Attended Events
        #bolded-line  
  
  .container.my-events
    if !public.isLoggedIn

      .sixteen.columns
        .headline.no-margin
          h3 Events

          p Please 
            a(href=links.login) log in.
    else

      .twelve.columns
        .headline.no-margin.event-list
          h4 Events I Have Attended

        if locals.eventUsers
          each eventUser in eventUsers
            .twelve.columns.event-container
              p 
                a(href=eventUser.event.path) #{ eventUser.event.name }
          
        else
          .twelve.columns
            p You have not attended any events at this time.

      include includes/eventtools














