doctype
head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  link(rel='shortcut icon', href='/images/favicon.ico')
  title SocialTagg: Easily Create and Manage New Contacts
body(background='images/bg.png')
  div(align='center')
    table(width='800', border='0')
      tr
        td(height='32')
          table(width='778', border='0')
            tr
              td(width='594')  
              td(width='54')
                a(href='mailto:support@socialtagg.com')
                  img(border='0', src='images/email.png', width='33', height='25', align='left')
              td(width='34')
                a(href='http://www.facebook.com/socialtagg')
                  img(src='images/fb.png', width='14', height='26', align='left')
              td(width='78')
                a(href='http://www.twitter.com/socialtagg')
                  img(src='images/twitter.png', width='32', height='26', border='0', align='left')
          table(width='799', border='0')
            tr
              td(height='29')  
              td  
    table(width='800', border='0')
      tr
        td(width='324')
          img(src='images/screens.png', width='324', height='480')
        td(width='460')
          table(width='476', border='0')
            tr
              td(width='60', height='74')  
              td(width='334')
                img(src='images/weblogo.png', width='334', height='58')
              td(width='60')  
            tr
              td  
              td
                img(src='images/tagline.png', width='329', height='49')
              td  
          table(width='476', border='0')
            tr
              td  
          table(width='476', border='0')
            tr
              td(width='63')  
              td(width='320')
                //
                // Begin MailChimp Signup Form 
                link(href='http://cdn-images.mailchimp.com/embedcode/slim-081711.css', rel='stylesheet', type='text/css')
                style(type='text/css')
                  #mc_embed_signup{background:#484848; clear:left; font:14px Helvetica,Arial,sans-serif; padding: 0px 0px 10px 20px; margin:auto; }
                  #mc-embedded-subscribe {background-color: #2dbffd;}
                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                #mc_embed_signup
                  form#mc-embedded-subscribe-form.validate(action='http://socialtagg.us6.list-manage.com/subscribe/post?u=422cc79ee72514c707686eda8&id=c13ef13295', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
                    p
                      label(for='mce-EMAIL')
                        strong
                          font(size='+2', color='#ffffff') Stay Informed.
                        br
                      font(size='+1', color='#ffffff')
                        | Sign up and be the first to know
                        br
                        | when we launch our app!
                    p
                      input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='required')
                    br
                    .clear
                      input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
                //
                // End mc_embed_signup
              td(width='79')  
