//-
//- Pricing page.
//-

extends layout

block content

  .container
    .sixteen.columns
      //
         Headline 
      .headline.no-margin
        h3 SocialTagg Pricing
      
      p
        | We should have some fun text here and probably also mention the 30-day free trial.
      
      //
         Tabs Navigation 
      ul.tabs-nav
        li.active
          a(href='#tab1') A La Carte
        li
          a(href='#tab2') Subscription
      //
         Tabs Content 
      .tabs-container
        #tab1.tab-content
          //
            Start Tab1 Content
          .container
            .sixteen.columns
              //
                 Number of Tables / From 2 to 6 / 
              .six-tables
                .tab.title-column
                  //
                    TP 1/5
                  .color-1
                    h3 Event Size
                    h4
                      span.price Price
                      span.time per event
                    ul
                      li
                        span.thicker Max Check-Ins
                        span.smaller-text Attendees
                      li.thicker.two-line-center-single Event Type
                      li.thicker.two-line-center-single Analytics
                      li.thicker.two-line-center-single Survey
                .tab.pricing-table
                  .color-2
                    h3 Free Event
                    h4
                      span.price.line-filler Free
                    ul
                      li.two-line-center-single 50
                      li.two-line-center-single Social Function
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single -
                    a.sign-up(href='#')
                      span Sign Up
                .headline.no-margin
                .tab.title-column
                  //
                    TP 2/5
                  .color-1
                    h3 Event Size
                    h4
                      span.price Price
                      span.time per event
                    ul
                      li
                        span.thicker Max Check-Ins
                        span.smaller-text Attendees
                      li.thicker.two-line-center-single Event Type
                      li.thicker.two-line-center-single Analytics
                      li.thicker.two-line-center-single Survey
                .tab.pricing-table
                  .color-2
                    h3 Small
                    h4
                      span.price.line-filler $9.99
                    ul
                      li.two-line-center-single 200
                      li.two-line-center-single Networking Event
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                    a.sign-up(href='#')
                      span Sign Up
                .tab.title-column
                  //
                    TP 3/5
                  .color-1
                    h3 Event Size
                    h4
                      span.price Price
                      span.time per event
                    ul
                      li
                        span.thicker Max Check-Ins
                        span.smaller-text Attendees
                      li.thicker.two-line-center-single Event Type
                      li.thicker.two-line-center-single Analytics
                      li.thicker.two-line-center-single Survey
                .tab.pricing-table
                  .color-4
                    h3 Medium
                    h4
                      span.price.line-filler $49.99
                    ul
                      li.two-line-center-single 1000
                      li.two-line-center-single Workshop
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                    a.sign-up(href='#')
                      span Sign Up
                .tab.title-column
                  //
                    TP 4/5
                  .color-1
                    h3 Event Size
                    h4
                      span.price Price
                      span.time per event
                    ul
                      li
                        span.thicker Max Check-Ins
                        span.smaller-text Attendees
                      li.thicker.two-line-center-single Event Type
                      li.thicker.two-line-center-single Analytics
                      li.thicker.two-line-center-single Survey
                .tab.pricing-table
                  .color-2
                    h3 Large
                    h4
                      span.price.line-filler $99.99
                    ul
                      li.two-line-center-single 5000
                      li.two-line-center-single Small Social Function
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                    a.sign-up(href='#')
                      span Sign Up
                .tab.title-column
                  //
                    TP 5/5
                  .color-1
                    h3 Event Size
                    h4
                      span.price Price
                      span.time per event
                    ul
                      li
                        span.thicker Max Check-Ins
                        span.smaller-text Attendees
                      li.thicker.two-line-center-single Event Type
                      li.thicker.two-line-center-single Analytics
                      li.thicker.two-line-center-single Survey
                .tab.pricing-table
                  .color-2
                    h3 Extra Large
                    h4
                      span.price.line-filler $299.99
                    ul
                      li.two-line-center-single Unlimited
                      li.two-line-center-single Large Conference
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                    a.sign-up(href='#')
                      span Sign Up
          //
            End Tab1 Content
        #tab2.tab-content
          //
            Start Tab2 Content
          .container
            .sixteen.columns
              //
                 Number of Tables / From 2 to 5 / 
              .five-tables
                .tab.title-column
                  //
                    TP 1/4
                  .color-1
                    h3 Event Size
                    h4
                      span.price Price
                      span.time per month
                    ul
                      li
                        span.thicker Max Check-Ins
                        span.smaller-text Attendees
                      li.thicker.two-line-center-single Event Type
                      li.thicker.two-line-center-single Analytics
                      li.thicker.two-line-center-single Survey
                      li.thicker.two-line-center-single Unlimited Events
                .tab.pricing-table
                  .color-2
                    h3 Small
                    h4
                      span.price.line-filler $19.99
                    ul
                      li.two-line-center-single 200
                      li.two-line-center-single Networking Event
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                    a.sign-up(href='#')
                      span Sign Up
                .tab.title-column
                  //
                    TP 2/4
                  .color-1
                    h3 Event Size
                    h4
                      span.price Price
                      span.time per month
                    ul
                      li
                        span.thicker Max Check-Ins
                        span.smaller-text Attendees
                      li.thicker.two-line-center-single Event Type
                      li.thicker.two-line-center-single Analytics
                      li.thicker.two-line-center-single Survey
                      li.thicker.two-line-center-single Unlimited Events
                .tab.pricing-table
                  .color-4
                    h3 Medium
                    h4
                      span.price.line-filler $99.99
                    ul
                      li.two-line-center-single 1000
                      li.two-line-center-single Workshop
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                    a.sign-up(href='#')
                      span Sign Up
                .tab.title-column
                  //
                    TP 3/4
                  .color-1
                    h3 Event Size
                    h4
                      span.price Price
                      span.time per month
                    ul
                      li
                        span.thicker Max Check-Ins
                        span.smaller-text Attendees
                      li.thicker.two-line-center-single Event Type
                      li.thicker.two-line-center-single Analytics
                      li.thicker.two-line-center-single Survey
                      li.thicker.two-line-center-single Unlimited Events
                .tab.pricing-table
                  .color-2
                    h3
                      | Large
                    h4
                      span.price.line-filler $199.99
                    ul
                      li.two-line-center-single 5000
                      li.two-line-center-single Conference
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                    a.sign-up(href='#')
                      span Sign Up
                .tab.title-column
                  //
                    TP 4/4
                  .color-1
                    h3 Event Size
                    h4
                      span.price Price
                      span.time per month
                    ul
                      li
                        span.thicker Max Check-Ins
                        span.smaller-text Attendees
                      li.thicker.two-line-center-single Event Type
                      li.thicker.two-line-center-single Analytics
                      li.thicker.two-line-center-single Survey
                      li.thicker.two-line-center-single Unlimited Events
                .tab.pricing-table
                  .color-2
                    h3 Extra Large
                    h4
                      span.price.line-filler $599.99
                    ul
                      li.two-line-center-single Unlimited
                      li.two-line-center-single Expo
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                      li.two-line-center-single
                        img(src='/images/checkmark.png')
                    a.sign-up(href='#')
                      span Sign Up
            //
              End Tab2 Content
  //
    End Content
