//-
//- The user detail page of the app.  The page is generated using a master template pattern.  
//- See the "layout.jade" file for more details.
//-
extends layout

block content
  h2
    | User Profile

  .user-view
    img(src=user.pictureUrl)
    
    ul
      li
        .description Name
        .value #{ user.name }
      li
        .description Address
        .value #{ user.address }
      li
        .description Email
        .value 
          a(href="mailto:" + user.email) #{ user.email }

block sidebar
  .widget
    //-
    //- This is an example of an include.  This is similar to "user controls" in .NET webforms.
    //- It allows you to easily reuse common bits of code in different places.
    //-
    include includes/userWidget