extends layout

//- Include any page-specific javascript here
block javascripts

  script(type='text/javascript', src='/js/ng-useredit.js')
  script(type='text/javascript', src='/js/ng-upload.min.js')

block content

  .container
    .sixteen.columns
      #page-title
        h2 My Profile
        #bolded-line  

  .controllerContainer.my-profile(ng-controller='userController', ng-init='init(' + publicPageVars + ')')
    .container
      .six.columns

        //- Error message, set style explicitly so it won't flash on page refresh
        .notification(ng-show='notifyMsg', style='display: none;', ng-class='notifyClass')
          p
            span {{ notifyMsg }}
            a.close(href='#', ng-click='clearMsg()', no-click)

        if locals.message
          p(style=locals.message.style) !{ locals.message.text }
        
        form.form-horizontal


          .field
            label(for='email') Email
            span.read-only-input {{ user.email }}

          //- Only show the password fields if this is a new user.  We can create a special
          //- password screen later.
          if !locals.public.user.id
            .field
              label(for='password') Password
              input.text(type='password', size='100', id='password', ng-model='user.password', placeholder='(6-15 chars)', required)
            
            .field
              label(for='password2') Re-enter password
              input.text(type='password', size='100', id='password2', ng-model='user.password2', required)

          .field
            label(for='firstName') First Name
            input.text(type='text', size='100', id='firstName', ng-model='user.firstName', placeholder='(Required)', required)
          
          .field
            label(for='lastName') Last Name
            input.text(type='text', size='100', id='lastName', ng-model='user.lastName', placeholder='(Required)', required)

          .field
            label(for='address') Address
            input.text(type='text', size='100', id='address', ng-model='user.address')
          
          .field
            label(for='phone') Phone
            input.text(type='text', size='100', id='phone', ng-model='user.phone')
          
          .field
            label(for='website') Website
            input.text(type='text', size='100', id='website', ng-model='user.website')
          
          .field
            label(for='bio') Bio
            textarea(id='bio', ng-model='user.bio')
          
          .field
            label(for='company') Company
            input.text(type='text', size='100', id='company', ng-model='user.company')
          
          .field
            label(for='title') Title
            input.text(type='text', size='100', id='title', ng-model='user.title')
          
          .field
            label(for='twitter') Twitter
            input.text(type='text', size='100', id='twitter', ng-model='user.twitter')

        .clear
        p
          a.button.color(href='#', ng-click='updateUser()', no-click) Save
          i.icon-spinner.icon-spin.icon-2x.spinnerleftmargin(ng-show='isWorking')
            
      //- Show the profile picture if the account is created
      if locals.public.user.id
        .six.columns
          h4 Profile Picture
  
          img(src=public.user.pictureUrl).user-image
          .clear
          p
          if (false)
            form(action='/apiv1/users/' + public.user.id + '/profilepicture', ng-upload)
              .field
                input(type='file', name='uploadFile')
              
              a.button.color(class='upload-submit:uploadingProfilePic(contents, completed)', href='#', no-click) Change
              i.icon-spinner.icon-spin.icon-2x.spinnerleftmargin(ng-show='isWorkingOnPicture')
          else
            p Changing the profile picture is only supported in the mobile apps at this time.
              | You can log into the iOS or Android app with your credentials and change it there.
              
            p This functionality is coming to the web soon, please check back later!