extends layout
//- Include any page-specific javascript here
block javascripts
  script(type='text/javascript', src='/js/ng-userpassword.js')

block content
  .container
    .sixteen.columns
  
  .controllerContainer.my-profile(ng-controller='userPasswordController', ng-init='init(' + publicPageVars + ')')
    .container
      .sixteen.columns

        #page-title
          h2 Change Password
          #bolded-line

        //- Error message, set style explicitly so it won't flash on page refresh
        .notification(ng-show='notifyMsg', style='display: none;', ng-class='notifyClass')
          p
            span {{ notifyMsg }}
            a.close(href='#', ng-click='clearMsg()', no-click)
        if locals.message
          p(style=locals.message.style) !{ locals.message.text }
        
        
        .newpassword((ng-show='user && user.id', ng-cloak)

          p Thank you, {{ user.firstName }}.  Please enter your new password.
  
          form.form-horizontal
  
            .field
              label(for='password') Password
              input.text(type='password', size='100', id='password', ng-model='user.password', placeholder='(6-15 chars)', required)
            .field
              label(for='password2') Re-enter password
              input.text(type='password', size='100', id='password2', ng-model='user.password2', required)
          .clear
          
          p
            a.button.color(href='#', ng-click='save()', no-click) Save
            i.icon-spinner.icon-spin.icon-2x.spinnerleftmargin(ng-show='isWorking')

            