/*
 * "Stylus" CSS source file.  
 *
 * Based on original tutorial here:
 *
 * http://clock.co.uk/tech-blogs/a-simple-website-in-nodejs-with-express-jade-and-stylus
 *
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')


/*
 * Nib provides a CSS reset
 */
global-reset()


// Debugging - add borders around elements
debugging-borders = false

/*
 * Store the main color and
 * background color as variables
 *
 * Colors below: http://colorschemedesigner.com/TBD
 */

elements-background-color = #5E5E5E /* Darkish gray */
elements-text-color = white       /* tbd  */
elements-nonemphasis-color = #E9E9E9       // Light gray

/* main-color = #50708E */

background-color = #E9E9E9       // Light gray
text-color = #484848            // Dark gray
link-color = #50708E            // tbd
error-color = red               // tbd
error-color-contrast = red      // tbd
emphasis-color = #2DBFFD        // blue


debug($color = red)
  if debugging-borders
    border 1px $color solid


a:link, a:visited 
  color link-color
  text-decoration none
a:hover
  text-decoration underline

body
  font-family 'Georgia'
  background-color background-color
  color text-color

h2
  color text-color
  font-size 1.25em
  padding 0 0 10px 0
  
form
  padding 0 0 20px 0
  

header
  font-family 'Quicksand'
  padding 50px 10px
  a:link, a:visited 
    color elements-text-color
  color elements-text-color
  font-size 35px
  text-align center
  span
    color emphasis-color

  /*
   * Note the use of the `elements-background-color`
   * variable and the `darken` function
   */
  background-color elements-background-color
  background linear-gradient(top, #929292, elements-background-color)
  border-bottom 1px solid darken(elements-background-color, 30%)
  text-shadow 0px -1px 0px darken(elements-background-color, 30%)

.container
  width 900px
  margin 25px auto
  overflow hidden
  

.main-content
  float left
  width 600px
  margin-bottom 20px

  p
    margin-bottom 20px
  ul
    label
      float left
      width 120px
    li
      padding 3px 0
      
.sidebar
  debug(blue)
  float left
  width 300px

  .widget

    /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
    border-radius 5px
    border 1px solid #ccc
    margin-left 20px
    background-color background-color
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)

    h1
      font-family 'Quicksand'
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #ddd
      border-radius 2px 2px 0px 0px
      margin-bottom 10px

    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px

.error
  color error-color

p
  line-height 1.6

footer
  width 80%
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
  
div.apisettings
  color error-color
  font-family 'Courier'
  font-size .9 em
  width 500px
  span 
    color text-color
    display inline-block;
    width 100px;
    font-family 'Georgia'
  li
    height 22px
    
.api-documentation
  p
    margin-bottom 5px
  width 500px
  .title
    color text-color
  .description
    font-size .8em
  .signature
    span
      color text-color
      font-family 'Courier'
  .tryit
    font-family 'Courier'
    font-size .8em
    background elements-background-color
    color emphasis-color
    padding 15px
    border-radius 5px
    border 1px solid #ccc

.user-view
  width 100%
  ul
    debug(orange)
    width 80%
  li
    clear both
    min-height 30px
  .description
    float left
    width 90px
  .value
    color emphasis-color
    float left
  img
    debug(yellow)
    width 100px
    margin 10px 0
    
    
// ====================================
// Layout: Responsive
//

@media screen and (max-width: 980px)
  .container
    width 94%
  .main-content
    width 65%
  .sidebar
    width 30%
 
@media screen and (max-width: 700px)
  .main-content, .sidebar
    width auto
    float none
  .sidebar
    .widget
      margin 0

@media screen and (max-width: 480px)
  header
    padding 25px 10px
    font-size 40px
  .user-view
    .description
      width 75px