
<h2>Events Activity - By Week</h2>
<p>Note: Test events created by SocialTagg staff is filtered from these results.</p>

<canvas id="eventsChart" width="800" height="400"></canvas>

<h3>Details</h3>
<table class="table table-striped">

  <thead>
    <tr>
      <th>Week #</th>
      <th>Date</th>
      <th>Number of Events Created</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(weekNo, item) in summary.data">
      <td>{{ weekNo }}</td>
      <td>{{ item.desc }}</td>
      <td>{{ item.count }}</td>
    </tr>
  </tbody>
</table>
